<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CampaignMediaPlanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-whDG6asGdmHwzE4J2dUpBHTTUmHnvw5glnJZf97U9lKP5eEy7HAmGjN29D4a8i7V" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-4">
        @RenderBody()
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-ppDqI4syek95lgvn5EboJ5V65HZXrHMWy3EKZP5kQl8o/mDhWz6bHF6MuA7PT6P4" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>